/* * {
  outline: dashed 2px purple;
} */

body {
  width: 960px;
  margin: 0 auto;
}

header {
  height: 100px;
}

nav > ul > li:first-child {
  width: 42px;
  float: left;
  margin-top: 35px;
}

nav > ul > li:nth-child(2) {
  float: left;
  margin-top: 35px;
  margin-left: 15px;
}


nav > ul > li:nth-child(3),
nav > ul > li:nth-child(4),
nav > ul > li:nth-child(5),
nav > ul > li:nth-child(6),
nav > ul > li:nth-child(7),
nav > ul > li:nth-child(8),
nav > ul > li:nth-child(9),
nav > ul > li:nth-child(10),
nav > ul > li:nth-child(11) {
  float: right;
  margin-top: 35px;
}

nav > ul > li:nth-child(3) {
  margin-left: 2px;
}

nav > ul > li:nth-child(4) {
  margin-left: 10px;
}

nav > ul > li:nth-child(5),
nav > ul > li:nth-child(6),
nav > ul > li:nth-child(7),
nav > ul > li:nth-child(8),
nav > ul > li:nth-child(9),
nav > ul > li:nth-child(10),
nav > ul > li:nth-child(11) {
  margin-left: 2px;
}

main > ul > li:first-child {
  clear: both;
  margin-top: 60px;
}